.employmain{ width:100%; color:#575656;}
.employbox{ padding-bottom:20px; border-bottom:1px #dbd4cd solid;}
.Pra img{ float:right;}
.title2{ font-size:20px; color:#f99d33; background:url("../images/title2.gif") no-repeat left center; padding-left:20px; line-height:40px; height:40px; border-bottom:1px #dbd4cd dashed; margin-top:15px; }
.Pra{margin-top:20px;  }
.Pra h5{ font-size:14px; margin:12px 0;}
.employPra p{ font:14px/1.8em "微软雅黑" ;  line-height:26px; margin:12px 0;}